#header{
    background-color:#07416c;
    height: --header-size;
    text-align:center;
    position:fixed;
    top: 0;
    z-index: 5;
}
#title{
    font-family: Arial;
    font-size: 5vh;
    color: white;
}
#site_body{
    height: auto;
    padding-top: 7vh;

}
#primary_content{
    background-color: #f6f6f6;
    display:block;
    text-align:left;
    padding: 3vh;

}
#primary_content .form-inline{
    display:block;
    text-align:left;
    padding-left: 4vw;
    padding: 1vh;
    margin-left: 4vh;
}
#primary_content .option-name{
    display: inline-block;
    width: 120px;
}
#primary_content h1,h2,h3,h4{
    margin: 4vh;
}
#footer{
    background-color:rgba(0, 0, 0, 0.5);
    height: 5%;
    bottom: 0px;
    position: fixed;
}
#profile{
    text-align:center;
    padding: 35px;
}
.accounts-views{
    background-color:#dededecc;
    border-radius:2%;
    height: auto;
    text-align:center;
    border:0;
    margin:3%;
    padding: 3vh;
}
.login{
    margin-top: 10vh;
    padding:2vh;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.accounts-views:hover{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}